    .link-icons {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }
    
    .link-icons a {
        text-decoration: none;
        color: #394352;
        padding: 0 10px;
    }
    
    .link-icons a:hover {
        color: #4e5c70;
    }
    
    .link-icons a i {
        font-size: 18px;
    }
    
    .link-icons a span {
        display: inline-block;
        text-align: center;
        background-color: #63748e;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 16px;
        width: 16px;
        height: 16px;
        font-weight: bold;
        position: absolute;
        top: -8px;
        right: 0;
    }