    /* --------------------------BACKGROUND----------------------------------------*/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        /*background: radial-gradient(circle at bottom, navy 0, #3B4F5E 100%);*/
        background-color: #05081B;
        overflow: auto;
    }
    
    .space {
        position: fixed;
        background: rgba(0, 0, 128, 0.1) center / 200px 200px round;
        bottom: 0;
        left: 0;
        position: absolute;
        /*border: 1px dashed white;*/
        right: 0;
        top: 0;
        z-index: -1;
    }
    
    @keyframes space {
        40% {
            opacity: 0.75;
        }
        50% {
            opacity: 0.25;
        }
        60% {
            opacity: 0.75;
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .stars1 {
        animation: space 180s ease-in-out infinite;
        background-image: radial-gradient( 1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), radial-gradient( 2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
        z-index: -1;
        position: fixed;
    }
    
    .stars2 {
        animation: space 240s ease-in-out infinite;
        background-image: radial-gradient( 1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), radial-gradient( 2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
        z-index: -1;
        position: fixed;
    }
    
    .stars3 {
        background-image: radial-gradient( 1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), radial-gradient( 2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
        z-index: -1;
        position: fixed;
    }
    /*-------------------------------------------NAV BAR--------------------------------------------------*/
    
    .topnav {
        border-radius: 30px;
        overflow: hidden;
        width: 100%;
        background-color: #03203E;
        position: fixed;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #C6E3ED;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .topnav a:hover {
        background-color: #42BCF3;
        color: #05081B;
    }
    
    .topnav .search-container {
        float: right;
    }
    
    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    
    .topnav .search-container .search_b {
        float: right;
        padding: 4.5px 10px;
        margin-top: 8px;
        margin-right: 8px;
        background: #C6E3ED;
        border: none;
        cursor: pointer;
    }
    
    .topnav .search_b {
        font-size: 23.5px;
    }
    
    .topnav .search-container .search_b:hover {
        background: #42BCF3;
    }
    
    .topnav form {
        margin: 0;
    }
    
    .right {
        float: right;
    }
    /* Homepage button styling*/
    
    .middle {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ebtn {
        position: relative;
        display: block;
        color: #42BCF3;
        font-size: 14px;
        font-family: "montserrat";
        text-decoration: none;
        margin: 30px 0;
        border: 2px solid #015CAA;
        padding: 14px 60px;
        text-transform: uppercase;
        overflow: hidden;
        transition: 1s all ease;
    }
    
    .ebtn::before {
        background: #015CAA;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.6s ease;
    }
    
    .ebtn::before {
        width: 100%;
        height: 0%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .ebtn:hover::before {
        height: 450%;
    }
    /* Styling for HomePage */
    
    @font-face {
        font-family: maroon_bold;
        src: url('MaroonBold.ttf');
    }
    
    .title {
        font-size: 50px;
        color: #42BCF3;
        justify-content: center;
        align-items: center;
        font-family: maroon_bold;
    }
    
    .top_space {
        padding-top: 10%;
    }
    
    .logo {
        transform: rotate(35deg);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
    
    .desc {
        width: 70%;
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        color: #42BCF3;
    }
    
    .left-c {
        float: left;
        text-align: center;
        justify-content: center;
        width: 40%;
        margin-left: 8%;
        margin-top: 75px;
        background-color: #0592d33d;
        border-radius: 10px;
        box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 25px 0px;
    }
    
    .left-c img {
        margin-top: 50px;
        width: 75%;
        height: 75%;
    }
    
    .right-c {
        float: right;
        width: 40%;
        text-align: center;
        justify-content: center;
        margin-right: 8%;
        margin-top: 75px;
        background-color: #0592d33d;
        border-radius: 10px;
        box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 25px 0px;
    }
    /* Footer */
    
    footer {
        justify-content: right;
        text-align: right;
        position: fixed;
        bottom: 0;
        background-color: #03203E;
        width: 100%;
        color: #42BCF3;
        height: 2.5rem;
    }
    
    .footer_text {
        margin-right: 10px;
        margin-top: 10px;
    }
    /* Catalog styling */
    
    .content-main {
        background-color: #0592d33d;
        border-radius: 10px;
        box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 2%;
        margin-right: 8%;
        margin-left: 8%;
        margin-bottom: 10%
    }
    
    h1 {
        color: #42BCF3;
    }
    
    h2 {
        color: #42BCF3;
    }
    
    h3 {
        color: #C6E3ED;
    }
    
    h4 {
        color: #C6E3ED;
    }
    
    .catalog_table {
        text-align: center;
        justify-content: center;
        border-collapse: collapse;
        width: 100%;
    }
    
    .center {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .spacer {
        padding: 3%;
    }
    
    .input_num {
        width: 150px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        color: #555555;
        border-radius: 5px;
    }
    
    .input_submit {
        background: #03203E;
        border: 0;
        color: #42BCF3;
        width: 150px;
        padding: 12px 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .input_submit:hover {
        background: #015CAA;
    }
    /* userPage styling */
    
    #contact_info {
        float: left;
        width: 45%;
        border: 1px solid white;
        background-color: #D1E1E2;
        color: #3B4F5E;
        border-radius: 10px;
        box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 25px 0px;
    }
    
    #address_form {
        float: right;
        width: 54.5%;
        border: 1px solid white;
        background-color: #D1E1E2;
        color: #3B4F5E;
        border-radius: 10px;
        box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 26px 0px;
    }
    
    .account-header {
        text-align: center;
    }
    
    .blue-colorizer {
        color: #42BCF3;
    }
    
    .link-colors {
        color: #0593D3;
    }
    
    .submit_b2 {
        margin: 15px 0;
        width: 50%;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        background: #dde1e2;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 2px 2px 5px #768998, -5px -5px 10px #ffffff73;
    }
    
    .submit_b2 a {
        color: #3B4F5E;
        text-decoration: none;
    }
    
    .submit_b2:focus {
        color: #1EB1C8;
        box-shadow: inset 2px 2px 5px #768998, inset -5px -5px 10px #ffffff73;
    }
    
    .submit_b2:hover {
        text-decoration: underline;
    }
    /* CART PAGE */
    
    .cart_table {
        text-align: center;
        justify-content: center;
        border-collapse: collapse;
        width: 70%;
        margin-left: 10%;
    }
    
    .subtotal {
        text-align: right;
        padding: 40px;
        font-size: 1.5em;
        font-weight: bold;
        color: #42BCF3;
    }
    
    .subtotal .text {
        padding-right: 40px;
    }
    
    .subtotal .price {
        text-decoration: underline;
    }
    
    .cart_buttons {
        text-align: right;
        padding-bottom: 40px;
    }
    
    .cart_buttons input {
        margin-left: 5px;
        padding: 12px 20px;
        border: 0;
        background: #03203E;
        color: #42BCF3;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .cart_buttons input:hover {
        background: #015CAA;
    }
    /* Checkout page CSS  */
    
    .center-checkout {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 75px;
        background-color: #0592d33d;
        border-radius: 10px;
        box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 25px 0px;
    }