/* --------------------------BACKGROUND----------------------------------------*/

body {
    /*background: radial-gradient(circle at bottom, navy 0, #3B4F5E 100%);*/
    background-color: #05081B;
    overflow: hidden;
}

.space {
    background: rgba(0, 0, 128, 0.1) center / 200px 200px round;
    bottom: 0;
    left: 0;
    position: absolute;
    /*border: 1px dashed white;*/
    right: 0;
    top: 0;
    z-index: -1;
}

@keyframes space {
    40% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.25;
    }
    60% {
        opacity: 0.75;
    }
    100% {
        transform: rotate(360deg);
    }
}

.stars1 {
    animation: space 180s ease-in-out infinite;
    background-image: radial-gradient( 1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), radial-gradient( 2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
    z-index: -1;
}

.stars2 {
    animation: space 240s ease-in-out infinite;
    background-image: radial-gradient( 1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), radial-gradient( 2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
    z-index: -1;
}

.stars3 {
    background-image: radial-gradient( 1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), radial-gradient( 1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), radial-gradient( 1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), radial-gradient( 2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), radial-gradient( 2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
    z-index: -1;
}


/*-------------------------------------------NAV BAR--------------------------------------------------*/

.topnav {
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    background-color: #03203E;
}

.topnav a {
    float: left;
    display: block;
    color: #C6E3ED;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #42BCF3;
    color: #05081B;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #C6E3ED;
    border: none;
    cursor: pointer;
}

.topnav button {
    font-size: 17px;
}

.topnav .search-container button:hover {
    background: #42BCF3;
}

.topnav form {
    margin: 0;
}

.right {
    float: right;
}


/* Homepage button styling*/

.middle {
    margin-top: 65px;
    margin-bottom: 50px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    position: relative;
    display: block;
    color: #42BCF3;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #015CAA;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {
    background: #015CAA;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn:hover::before {
    height: 450%;
}


/* Styling for HomePage */

@font-face {
    font-family: maroon_bold;
    src: url('MaroonBold.ttf');
}

.title {
    font-size: 50px;
    color: #42BCF3;
    justify-content: center;
    align-items: center;
    font-family: maroon_bold;
    padding-top: 125px;
}

.logo {
    transform: rotate(35deg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 125px;
}

.desc {
    width: 70%;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 82px;
    color: #42BCF3;
}

.left-c {
    float: left;
    text-align: center;
    justify-content: center;
    width: 40%;
    margin-left: 190px;
    margin-top: 75px;
    background-color: #0592d33d;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 25px 0px;
}

.right-c {
    float: right;
    width: 40%;
    text-align: center;
    justify-content: center;
    margin-right: 190px;
    margin-top: 75px;
    background-color: #0592d33d;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #768998, 2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 26px 0px;
}


/* Footer */

footer {
    position: absolute;
    justify-content: right;
    text-align: right;
    bottom: 0;
    background-color: #03203E;
    padding: 10px 0;
    width: 100%;
    color: #42BCF3;
}

.footer_text {
    margin-right: 50px;
}